<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jgallardo.smc_mp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.Camera"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_longname">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login"
            android:label="Iniciar sesión">

        </activity>

        <activity android:name=".met_mec.selection_met_mec"
            android:label="Área Metal-Mecanica">

        </activity>

        <activity android:name=".inspections.wleding_selection"
            android:label="Soldadura">

        </activity>
        
        <activity android:name=".registrys.registry_general">

        </activity>

        <activity android:name=".camera.camera_smc"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
